<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Bootstrap 实例</title>
<!-- 包含头部信息用于适应不同设备 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 包含 bootstrap 样式表 -->
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/admin/admin.css">
</head>

<body>
	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="active"><a href="#">首页</a></li>
		<li role="presentation"><a href="#">景点</a></li>
		<li role="presentation"><a href="#">社区</a></li>
		<li role="presentation" style="float:right;"><a href="#" >退出</a></li>
		<li role="presentation" class="li_login" style="float:right;"><a href="#">登录</a></li>
		<li role="presentation" class="li_reg" style="float:right;"><a href="#">注册</a></li>
	</ul>

	<!-- JavaScript 放置在文档最后面可以使页面加载速度更快 -->
	<!-- 可选: 包含 jQuery 库 -->
	<script src="../../js/jquery-3.1.1min.js"></script>
	<!-- 可选: 合并了 Bootstrap JavaScript 插件 -->
	<script src="../../js/bootstrap.min.js"></script>
</body>

</html>